.surface-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #f9f9f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
