@import "../../styles/generic/color";

.surface-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #f9f9f9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
  position: relative;

  &.rounded {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &.blurb::before {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left: -0.45rem;
    transform: rotate(45deg);
    background-color: inherit;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: inherit;
    content: "";
  }

  &.red {
    background-color: clr(red, lighten5);
  }

  &.grey {
    background-color: clr(grey, lighten5);
  }

  &.blue {
    background-color: clr(blue, lighten5);
  }

  &.green {
    background-color: clr(green, lighten5);
  }
}
