@import "../../styles/generic/_colors";

$colors: (
  "default": $grey,
  "red": $red,
  "green": $green,
  "blue": $blue
);

$sizes: (
  "xx-small": 0.75rem,
  "x-small": 1rem,
  "small": 1.25rem,
  "medium": 1.5rem,
  "large": 1.75rem,
  "x-large": 2rem,
  "xx-large": 2.25rem
);

$elevations: (0, 1, 2, 3, 4, 5, 6);

@mixin button-elevation-modifiers {
  @each $elevation in $elevations {
    &-elevation-#{$elevation} {
      box-shadow: 0 ($elevation * 2px) ($elevation * 4px) 0 rgba(0, 0, 0, 0.25);
      z-index: $elevation;
    }
  }
}

@mixin button-size-modifiers {
  @each $name, $size in $sizes {
    &-#{$name} {
      height: $size * 1.5;

      &.fab {
        width: $size * 1.5;
      }

      .button-inner {
        padding: 0 ($size * 0.75);
      }
    }
  }
}

@mixin button-color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: #fff;
      background-color: $hex;

      &:active {
        background-color: darken($color: $hex, $amount: 10);
      }

      &:focus {
        background-color: darken($color: $hex, $amount: 10);

        .button-inner {
          box-shadow: 0
            0
            0
            0.2rem
            rgba(lighten($color: $hex, $amount: 10), 0.5);
        }
      }
    }
  }
}

.button {
  outline: none;
  padding: 0;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 5px;
  color: black;
  user-select: none;
  text-decoration: none;
  white-space: nowrap;

  @include button-color-modifiers;
  @include button-size-modifiers;
  @include button-elevation-modifiers;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.675;

    .button-inner {
      pointer-events: none;
    }
  }
  &:active {
    transform: scale(0.98);
  }

  .button-inner {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    position: relative;
    width: 100%;
    font-size: 0.875rem;
    font-weight: bolder;
    letter-spacing: 0.025rem;
    height: 100%;
  }

  &.fill {
    display: block;
    width: 100%;
  }

  &.fab {
    border-radius: 50%;

    .button-inner {
      border-radius: 50%;
    }
  }
}
