@import "../../styles/generic/colors";

$colors: (
  "default": $grey,
  "red": $red,
  "green": $green,
  "blue": $blue
);

@mixin button-color-modifiers {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: #fff;
      background-color: $hex;

      &:active {
        background-color: darken($color: $hex, $amount: 10);
      }

      &:focus {
        background-color: darken($color: $hex, $amount: 10);

        .button-inner {
          box-shadow: 0
            0
            0
            0.2rem
            rgba(lighten($color: $hex, $amount: 10), 0.5);
        }
      }
    }
  }
}

.button {
  outline: none;
  padding: 0;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 5px;
  color: black;
  user-select: none;
  text-decoration: none;

  @include button-color-modifiers;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.675;

    .button-inner {
      pointer-events: none;
    }
  }
  &:active {
    transform: translateY(0.035rem) scale(0.995);
  }

  .button-inner {
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    position: relative;
    width: 100%;
    font-size: 0.875rem;
    font-weight: bolder;
    letter-spacing: 0.025rem;
    height: 100%;
  }

  &.fill {
    display: block;
    width: 100%;
  }

  &.fab {
    border-radius: 100%;

    .button-inner {
      border-radius: 100%;
    }
  }

  /* Size small styling */
  &.size-small {
    height: 28px;
    min-width: 50px;

    &.fab {
      width: 28px;
      min-width: 28px;
    }

    .button-inner {
      padding: 0 0.5rem;
      font-size: 0.75rem;
    }
  }

  /* Size medium styling */
  &.size-medium {
    height: 36px;
    min-width: 64px;

    &.fab {
      width: 36px;
      min-width: 36px;
    }

    .button-inner {
      padding: 0 0.75rem;
      font-size: 0.875rem;
    }
  }

  /* Size large styling */
  &.size-large {
    height: 44px;
    min-width: 78px;

    &.fab {
      width: 44px;
      min-width: 44px;
    }

    .button-inner {
      padding: 0 1rem;
      font-size: 1rem;
    }
  }

  /* Elevation styling */
  &.elevation-0 {
    box-shadow: none;
    z-index: 0;
  }

  &.elevation-1 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &.elevation-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  &.elevation-3 {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  &.elevation-4 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 4;
  }
}
