@import "../../styles/generic/color";

.surface {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  position: relative;

  &.fill {
    width: 100%;
    display: block;
  }

  .surface-inner {
    display: flex;
    flex-direction: column;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;

    &.rounded {
      border-radius: 4px;
    }

    &.red {
      border-color: clr(red, lighten3);
    }

    &.grey {
      border-color: clr(grey, lighten3);
    }

    &.blue {
      border-color: clr(blue, lighten3);
    }

    &.green {
      border-color: clr(green, lighten3);
    }
  }
}
