@import "../../styles/generic/colors";

.surface {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  position: relative;

  &.fill {
    width: 100%;
    display: block;
  }

  .surface-inner {
    display: flex;
    flex-direction: column;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;

    &.rounded {
      border-radius: 4px;
    }

    &.red {
      border-color: lighten($color: $red, $amount: 32);
    }

    &.default {
      border-color: lighten($color: $grey, $amount: 45);
    }

    &.blue {
      border-color: lighten($color: $blue, $amount: 40);
    }

    &.green {
      border-color: lighten($color: $green, $amount: 35);
    }
  }
}
